body {
    color:black; 
    font: normal 40px Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman;
    line-height: 1.6em; 
}

.heading {
    background-color:pink
    font-family:
}

h1 {
    color:
}

h2 {
    color: 
}

h3 {
    color:
}

p {
    color: 
}