
body {
    background-color: pink;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
}

head {
    color: red; 
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
}
h1, h2 {
    color: white; 
    font-family: "Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
}

h3 {
    color: pink; 
    font-family: "Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
}

ul{
    list-style-type: none; 
}

a {
    color: white; 
}

p {
    background: #666;
    color: white; 
    padding: 20px 10px; 
}